html,
body {
    height: 100%;
    margin: 0;
    line-height: 1.5;
    color: #121212;
}

#app {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

#sidebar {
    background-color: #C1D0B5;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
}

#display {
    grid-column: 2 / -1;
    background-color: white;
    border-bottom: 1px solid;
    border-left: 1px solid;
    display: flex;
    justify-content: space-evenly;
}

#feature {
    width: 100%;
    margin-left: 10px;
}

.rule {
    background-color: rgb(204, 204, 204, 0.5);
    padding: 10px;
    margin: 10px 10px 10px 0;
    border-radius: 10px;
    border: 1px solid;
}

.rule h2 {
    margin: 0;

}